@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse_fast {
    50% {
        opacity: 0.1;
    }
}

.animate-pulse-fast {
    animation: pulse_fast 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes remove_word {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.animate-remove_word {
    animation: remove_word 1s cubic-bezier(0.4, 0, 0.6, 1) 1;
}
