@keyframes pageGlich {
    0% {
        clip: rect(79px, 9999px, 89px, 0);
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
    }
    5% {
        clip: rect(88px, 9999px, 52px, 0);
        -webkit-transform: translateX(77px);
        transform: translateX(77px);
    }
    10% {
        clip: rect(62px, 9999px, 21px, 0);
        -webkit-transform: translateX(14px);
        transform: translateX(14px);
    }
    15% {
        clip: rect(97px, 9999px, 92px, 0);
        -webkit-transform: translateX(29px);
        transform: translateX(29px);
    }
    20% {
        clip: rect(66px, 9999px, 87px, 0);
        -webkit-transform: translateX(12px);
        transform: translateX(12px);
    }
    25% {
        clip: rect(42px, 9999px, 31px, 0);
        -webkit-transform: translateX(34px);
        transform: translateX(34px);
    }
    30% {
        clip: rect(43px, 9999px, 60px, 0);
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    35% {
        clip: rect(1px, 9999px, 75px, 0);
        -webkit-transform: translateX(84px);
        transform: translateX(84px);
    }
    40% {
        clip: rect(54px, 9999px, 86px, 0);
        -webkit-transform: translateX(61px);
        transform: translateX(61px);
    }
    45% {
        clip: rect(52px, 9999px, 17px, 0);
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    50% {
        clip: rect(75px, 9999px, 58px, 0);
        -webkit-transform: translateX(11px);
        transform: translateX(11px);
    }
    55% {
        clip: rect(80px, 9999px, 6px, 0);
        -webkit-transform: translateX(93px);
        transform: translateX(93px);
    }
    60% {
        clip: rect(20px, 9999px, 72px, 0);
        -webkit-transform: translateX(11px);
        transform: translateX(11px);
    }
    65% {
        clip: rect(100px, 9999px, 54px, 0);
        -webkit-transform: translateX(18px);
        transform: translateX(18px);
    }
    70% {
        clip: rect(100px, 9999px, 39px, 0);
        -webkit-transform: translateX(93px);
        transform: translateX(93px);
    }
    75% {
        clip: rect(72px, 9999px, 5px, 0);
        -webkit-transform: translateX(23px);
        transform: translateX(23px);
    }
    80% {
        clip: rect(68px, 9999px, 23px, 0);
        -webkit-transform: translateX(27px);
        transform: translateX(27px);
    }
    85% {
        clip: rect(24px, 9999px, 29px, 0);
        -webkit-transform: translateX(91px);
        transform: translateX(91px);
    }
    90% {
        clip: rect(41px, 9999px, 72px, 0);
        -webkit-transform: translateX(24px);
        transform: translateX(24px);
    }
    95% {
        clip: rect(90px, 9999px, 29px, 0);
        -webkit-transform: translateX(29px);
        transform: translateX(29px);
    }

    100% {
        clip: rect(40px, 9999px, 73px, 0);
        -webkit-transform: translateX(36px);
        transform: translateX(36px);
    }
}


@keyframes rectGlitch {
    0% {
    clip: rect(53px,9999px,57px,0);
}
5% {
    clip: rect(51px,9999px,6px,0);
}
10% {
    clip: rect(88px,9999px,77px,0);
}
15% {
    clip: rect(99px,9999px,78px,0);
}
20% {
    clip: rect(28px,9999px,13px,0);
}
25% {
    clip: rect(68px,9999px,64px,0);
}
30% {
    clip: rect(15px,9999px,77px,0);
}
35% {
    clip: rect(45px,9999px,91px,0);
}
40% {
    clip: rect(50px,9999px,53px,0);
}
45% {
    clip: rect(84px,9999px,58px,0);
}
50% {
    clip: rect(95px,9999px,60px,0);
}
55% {
    clip: rect(31px,9999px,76px,0);
}
60% {
    clip: rect(14px,9999px,82px,0);
}
65% {
    clip: rect(67px,9999px,56px,0);
}
70% {
    clip: rect(87px,9999px,40px,0);
}
75% {
    clip: rect(35px,9999px,60px,0);
}
80% {
    clip: rect(97px,9999px,62px,0);
}
85% {
    clip: rect(34px,9999px,34px,0);
}
90% {
    clip: rect(94px,9999px,50px,0);
}
95% {
    clip: rect(95px,9999px,70px,0);
}
100% {
    clip: rect(78px,9999px,86px,0);
}
}